@import "../../scss/main.scss";

.realtors {
  grid-column: $full-cols;
  background-color: $color-secondary;
  padding: 3rem;

  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  row-gap: 2rem;

  @include media-breakpoint-up($bp-medium) {
    grid-column: col-start 7 / full-end;
  }

  h3 {
    @include heading-3;
  }
}

.realtorsList {
  display: grid;
  grid-template-columns: min-content max-content;
  column-gap: 2rem;
  row-gap: 5vh;
  align-items: center;

  @include media-breakpoint-up($bp-small) {
    grid-template-columns: repeat(3, min-content max-content);
  }

  @include media-breakpoint-up($bp-medium) {
    grid-template-columns: min-content max-content;
  }
}

.realtorsImage {
  width: 7rem;
  border-radius: 50%;
}

.realtorsDetails {
  h4 {
    @include heading-4(light);
  }

  p {
    text-transform: uppercase;
    color: $color-grey-light-2;
    margin-top: -3px;
  }
}
