@import "../../scss/main.scss";

.sidebar {
  background-color: $color-primary;

  display: flex;
  justify-content: flex-end;
  grid-column: $full-cols;
  grid-row: 1 / 2;
  align-items: center;

  position: fixed;
  top: 0;
  width: 100%;
  height: $navbar-height;
  z-index: $z-navbar;

  @include media-breakpoint-up($bp-navbar) {
    position: relative;
    height: auto;
    justify-content: center;
    grid-column: $sidebar-cols;
    grid-row: 1 / -1;
    align-items: initial;
  }

  button {
    @include btn-reset;
    margin-right: 3rem;
    padding: 1.2rem 0 1rem;
    background-color: transparent;
      
    @include media-breakpoint-up($bp-navbar) {
      position: fixed;
      margin-right: 0;
      margin-top: 4rem;
      padding: 1.5rem 0 1.3rem;
    }
  }
}

.navIcon {
  &,
  &::before,
  &::after {
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    z-index: 20;
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    transform: translateY(-1.2rem);
  }

  &::after {
    transform: translateY(1rem);
  }

  @include media-breakpoint-up($bp-navbar) {
    &::before {
      transform: translateY(-1.5rem);
    }

    &::after {
      transform: translateY(1.3rem);
    }
  }
}