@import "../../scss/main.scss";

.sidebar {
  background-color: $color-primary;

  display: flex;
  justify-content: flex-end;
  grid-column: $full-cols;
  grid-row: 1 / 2;
  align-items: center;

  position: fixed;
  top: 0;
  width: 100%;
  height: $navbar-height;
  z-index: $z-navbar;

  @include media-breakpoint-up($bp-navbar) {
    position: relative;
    height: auto;
    justify-content: center;
    grid-column: $sidebar-cols;
    grid-row: 1 / -1;
    align-items: initial;
  }

  button {
    border: none;
    border-radius: 0;

    margin-right: 3rem;

    &,
    &::before,
    &::after {
      background-color: #fff;
      height: 2px;
      width: 4.5rem;
    }

    &::before,
    &::after {
      content: "";
      display: block;
    }

    &::before {
      transform: translateY(-1.2rem);
    }

    &::after {
      transform: translateY(1rem);
    }

    @include media-breakpoint-up($bp-navbar) {
      position: fixed;
      margin-right: 0;
      margin-top: 4rem;

      &::before {
        transform: translateY(-1.5rem);
      }

      &::after {
        transform: translateY(1.3rem);
      }
    }
  }
}
