@import "../../scss/main.scss";

.sidebar {
  background-color: $color-primary;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  position: fixed;
  top: 0;
  width: 100%;
  // height: $navbar-height;
  padding: 1.8rem 0 1.8rem;
  z-index: $z-navbar;

  @include media-breakpoint-up($bp-navbar) {
    position: relative;
    height: auto;
    justify-content: center;
    grid-column: $sidebar-cols;
    grid-row: 1 / -1;
    align-items: initial;
  }

  button {
    @include btn-reset;
    margin-right: 3rem;
    padding: 1.2rem 0 1rem;
    background-color: transparent;
      
    @include media-breakpoint-up($bp-navbar) {
      position: fixed;
      margin-right: 0;
      margin-top: 4rem;
      padding: 1.5rem 0 1.3rem;
    }
  }
}

.navIcon {
  &,
  &::before,
  &::after {
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    z-index: 20;
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    transform: translateY(-1.2rem);
  }

  &::after {
    transform: translateY(1rem);
  }

  @include media-breakpoint-up($bp-navbar) {
    &::before {
      transform: translateY(-1.5rem);
    }

    &::after {
      transform: translateY(1.3rem);
    }
  }
}

.collapse {
  width: 100%;

  nav {
    padding-top: 1.8rem;
    font-family: $font-display;
    font-size: 2.4rem;
    font-weight: 400;
    text-align: center;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  a {
    display: block;
    padding: 1rem;
    width: 100%;

    color: #fff;
    background-color: $color-primary-dark;
    text-decoration: none;

    &:hover, &:focus {
      color: #000;
      background-color: $color-primary-light;
    }
  }

  @include media-breakpoint-up($bp-navbar) {
    position: fixed;
    left: 8rem;
    top: 0;
    width: 40rem;
    background-color: $color-primary-dark;
    height: 100vh;
    padding-top: 3rem;
  }
}