@import "../scss/main.scss";

.container {
  grid-column: $full-cols;
  grid-row: 5 / 6;
  background-color: $color-grey-light-1;
  padding: 6rem 8vh;

  display: grid;
  align-content: center;
  justify-items: start;

  @include media-breakpoint-up($bp-medium) {
    grid-column: col-start 5 / full-end;
    grid-row: initial;
  }

  h1 {
    @include heading-1(dark);
    margin-bottom: 3rem;
  }

  h3 {
    @include heading-3;
    margin-bottom: 2rem;
  }

  a {
    @include btn;
    text-decoration: none;
  }

  p {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}
