@mixin heading {
  font-family: $font-display;
  font-weight: 400;
}

@mixin heading-4($lightness) {
  @include heading;
  font-size: 1.9rem;

  @if($lightness == light) {
    color: $color-grey-light-1;
  } @else if ($lightness == dark) {
    color: $color-grey-dark-1;
  }
}