// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;
$color-primary-light: #ebdac7;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

$color-red: #DC143C;
$color-red-dark: #8B0000;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// GRID
// Column sections
$content-cols: content-start / content-end;
$center-cols: center-start / center-end;
$full-cols: full-start / full-end;
$sidebar-cols: sidebar-start / sidebar-end;

// Row sections
$content-row: content-row-start / content-row-end;
$footer-row: footer-row-start / footer-row-end;

$margin-col-width: minmax(6rem, 1fr);

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
$bp-smallest: 25em; // 400px

$bp-navbar: $bp-large; // Breakpoint for navbar moving from top to side

// ELEMENT HEIGHTS
$navbar-height: 6rem;
$modal-gutter: 3rem;

// Z-INDECIES
$z-image-icon: 2;
$z-image-title: 2;
$z-navbar: 10;
$z-modal: 20;